
:root{

    --black-subttle:rgba(0, 0, 0, 0.05);
    --ascent-color-subttle:#f1d4a8;
    --ascent-color: #FF792E;

    --shadow-subttle: 0 5px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    width: auto;
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content:center;
    align-items: center;
}
  
/* -------------------------------------NavBar--------------------------- */


header{
    width: 100%;
    min-height: 100px;
}

.navbar{
    max-width: 800px;
    width: 90%;
    height: 90px;
    background-color: var(--black-subttle);
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
}

.main-logo a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    transition: color .3s ease-in-out;
}

.menu{
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    transition: color .3s ease-in-out;
    margin:15px;
    padding:5px;
    position: relative;
}

.menu a:hover{
    color: var(--ascent-color);
}

.menu a::after{ 
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    padding: 0px;
    background-color: var(--ascent-color);
    transition: width 0.3s ease-in-out;
}

.menu a:hover:after{
    width: 100%;
    padding: 1px;
}


/* ----------------------------------------Hero------------------------- */

#hero{
    width: 100%;
    margin: 20px 0px;
}

.hero-container{
        width:85%; 
        max-width: 1200px;
        height: auto;
        padding: 10px;
        border-radius: 20px;
        background-color:var(--black-subttle);
        box-shadow: var(--shadow-subttle);
        position: relative;
        overflow: hidden;

}

.intro-container{
    flex-flow: column;
    padding: 20px;
}

#im-Shubik{
    font-size: 5rem;
    margin-bottom: 5px;    
    text-align: center;
}

#introduction{
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

#job-title{
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 50px;
}

#introduction p {
    margin: 0;
    /* padding:0px 25px; */
    font-size: 1rem;
}

#downloadCV-button{
    width:150px;
    height: 50px;
    margin:25px;

    font-size: 1.1rem;
    border-radius:50px;
    border: none;
    cursor: pointer;
    background-color:var(--ascent-color);
}

#downloadCV:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.intro-image{
    margin-left:-80px;

}

.intro-image img {
    height: auto;
    width: 400px; 
    /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); */
}

.intro-image-underline{
    width: 386px;
    height: 6px;
    background-color: var(--ascent-color);
    border-radius: 3px;
    margin-bottom: 5px;
}


.bubble-effect-bottom{
    width: 1000px;
    height: 1000px;
    background-color: var(--ascent-color);
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 5%;
    transform: translate(-50%, -50%);
    filter: blur(10px);

    animation: breathe 5s infinite ease-in-out;
}


@keyframes breathe {
    0%, 100% {
        width: 200px;
        height: 200px;
        filter: blur(15px);
    }
    50% {
        width: 250px;
        height: 250px;
        filter: blur(20px);
    }
}

/* -----------------My Skills ----------------------------------- */

#skills{
    width: 100%;
    margin: 50px 0px;

}
.skills-container{    
    flex-direction: column;
    padding: 10px;
    height: auto;
    width:75%;
    max-width: 1000px;
    background-color: var(--black-subttle);
    border-radius: 20px;
    box-shadow: var(--shadow-subttle);
}
.skills-container h2{ 
    color: var(--ascent-color);
    font-size:2rem;
} 


.skills-list{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
}

.skillImgIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin:10px;
    font-size: 1rem;
    
}

.skillImgIcon img{
    margin:15px 0px;
    height:auto;
    width:100px;

}



/*--------------------------- About Me Section ------------------------*/
#about {
    height:auto;
    width: 100%;
    flex-direction: column;
    margin:10px 0px;
}

.about-container h2 {
    font-size: 2rem;
    color: #FF792E;
}

.about-container {
    padding: 10px 40px;
    width: 80%;
    max-width: 1200px;   
    border-radius: 20px;
    text-align: center;
    background-color: var(--black-subttle);
    box-shadow:var(--shadow-subttle);
}

.about-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}


/*------------ Project Section ----------------*/
#my-projects {
    width: 100%;
    flex-flow: column;

}

#my-projects h2 {
    font-size: 2rem;
    color: #FF792E;
}

.project-container {
    flex-wrap: wrap;
}

.project {
    width: 300px;
    margin:20px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:var(--ascent-color-subttle);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 10px;
}

.project p {
    font-size: 1em;
    color: #666666;
    line-height: 1.5;
}

.viewMore {
    margin-top: 10px;
    color: #FF792E;
    text-decoration: none;
    font-weight: bold;
}

.viewMore:hover {
    text-decoration: underline;
}

#projectLinks {
    margin-top: 40px;
}

#projectLinks a {
    color: #FF792E;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 20px;
    transition: color 0.3s ease;
}

#projectLinks a:hover {
    color: #d96a1d;
}


/* Contact Section */

.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 40px 0;
}

.contactSection h2 {

    font-size: 2.5em;
    margin-bottom: 40px;
    color: #FF792E;
}

.contactFormContainer {
    width: 600px;
    padding: 20px;
    background-color: var(--backgroundColor);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contactForm label {
    font-size: 1.2em;
    font-weight: bold;
}

#contactForm input,
#contactForm textarea {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

#sendMessage {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #FF792E;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* --------------------footer---------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 10px 20px;
    font-size: .8em;
    text-align: center;
}   

footer img{

    height:50px;
    width:50px;
    border-radius:0%;
    margin: 5px;
}


footer a{
    text-decoration: none;
    color: #000;
}
footer::before{
    content: "";
    width:90%;
    height: 1px;
    background-color: #000;
}
footer a:hover{
    scale: 1.15;
}

.top{

    display: flex;
    text-align: center;
    align-items: center;
    position: sticky;
    z-index: 999999999;
    top:85%;
    left: 85%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--ascent-color);
    transform: translateX();


}
.top a{
    text-decoration: none;
    color: #000;
}

@media screen and (min-width:580PX) and (max-width:1079px){

}



/* FOR Tablet View  */
@media screen and (min-width:426PX) and (max-width:579px){

    :root{
        font-size: 14px;
    }

    .navbar{
        flex-flow: column;
    }

    .hero-container{
        flex-wrap: wrap-reverse;
    }
    #introduction p {
        padding:0px;
    }
    

    
    .intro-image{
        margin: 0%;
    }
    .intro-image img{
    width: 300px;
    }

    .intro-image-underline{
        width: 290px;
    }

    #im-Shubik{
        font-size: 6rem;
        margin-top: 10px;
    }

}

@media screen and (max-width:426px){
/* --------------------------Root Setting----------------------------------- */
    :root{
        font-size: 12px;
    }

/* -------------------------------Nav Bar----------------------------------- */

    .navbar{
        flex-flow: column;
    }

/* ------------------------------Hero --------------------------------- */

    .hero-container{
        flex-wrap: wrap-reverse;
    }
    #introduction p {
        padding:0px;
    }


    .intro-image{
        margin: 0%;
    }

    .intro-image img{
        width:250px;
    }

    .intro-image-underline{
        width: 240px;
    }

    #im-Shubik{
        font-size: 5rem;
        margin-top: 10px;
    }

    /* ------------------------------Skills-------------------------- */

    .skillImgIcon img{
        width:60px;
        height: auto;
    }
      

    /* --------------------About me ----------------------------- */




}