:root{
    --background:#
}

html, body{
    margin:0;
    padding:0;
    scroll-behavior: smooth;

}
 body{
    font-family: "Ubuntu", sans-serif;
    color: rgb(19, 19, 19);
 }
 #navbar{
    display: flex;
    
 }