html{
    margin:0;
    padding:0;
}

body{
    width: auto;
    height: auto;
}

#navbar{
    height:150px;
    width: auto;
    padding:10px 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;

}
#navLogo{
    height: 80px;
    width:80px;
    border-radius: 50%;
    background-color: aqua;

}
#navLinks{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;

}

#navLinks li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

